* {box-sizing: border-box;}

body {
	background-image: url(../images/B-G-lovepark.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: black;
} 
.nav-wrapper {
	
}
.hamburger {

}

.nav-fif {
	font-size: 29px;
	display: inline;	
}
.nav-main li: last-child {
	font-size: 20px;
}

.nav-main a:hover {
	/*color:#979797;*/
	text-shadow: 0 0 6px #bababa;
	font-weight: bold;
	font-size:21px;
}
#page-jfk  {
	/*border: 4px solid red;*/
	position: relative;
	/*padding: auto;*/
}
.jfk-list {
	width: 50%;
	margin: 6% auto 11% 25%;
	font-weight: bold;
	font-family: 'Playfair Display', serif;
	font-size: 150px;
}
.jfk-list h3 {    
	/*border: 1px solid red;*/
	font-size: 10vw;
	text-align: center;
}
.jfk-fif {
	display: inline;
	font-size: 13vw;
	
}
.jfk-list h2 {    
	/*border: 1px solid yellow;*/
	font-size: 15vw;
	text-align: center;
}
.jfk-list h1 {    
	/*border: 1px solid pink;*/
	font-size: 23vw;
	letter-spacing: 0px;
	text-align: center;
}
.credits {
	display:none;
	font-family: 'Six Caps', sans-serif;
	opacity: 0.75;
	/*border: 1px solid red;*/
	text-align: center;
	margin-top: 30%;
	color: 
}

/* SOCIAL MEDIA SECTION AND IMAGE DISPLAY*/

#social {
	/*border: 1px solid blue;*/
	display: block;
}
.row-one {
	padding: 0 60px;
}
.row-two {
	padding: 0 60px;
}
figure {
	display: block;
	position: relative;
	float: left;
	overflow: hidden;
	width: 100%;
	padding: 4px;
	/*margin:0 20px 20px 0;*/
}
figcaption {
  position: absolute;
  background: black;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 10px 20px;
  opacity: 0;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}
figure:hover figcaption {
  opacity: 1;
}
figure:before {
  /*content: "?";*/
  position: absolute;
  font-weight: 800;
  background: black;
  background: rgba(255,255,255,0.75);
  text-shadow: 0 0 5px white;
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  -moz-transition: all 0.6s ease;
  opacity: 0.75;
}
figure:hover:before {
  opacity: 0;
}
.cap-left:before {  bottom: 10px; left: 10px; }
.cap-left figcaption { bottom: 0; left: -30%; }
.cap-left:hover figcaption { left: 0; }

#social img {
	width: 100%
}
section {
	margin-bottom: 10px;
}
#contact {
	/*border: 1px solid red;*/
	background-color: black;
	margin: auto;
	/*border: 1px solid blue;*/
}
#contact img {
	width: 18%;
	height: auto;
	/*border: 1px solid red;*/
}
.contact-wrapper {
	/*border: 1px solid red;*/
}
.contact-wrapper a:link,visited {
	text-decoration: none;
}
.nav-main {
	text-align: center;
}
.nav-main li {
	text-align: center;
}
.nav-main li a {
	display: block;
	padding: 50px;
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: 'Playfair Display', serif;
	border-bottom: 1px solid #000;
}
.top-wrapper {
	/*border: 1px solid red;*/
	text-align: center;
	margin-top: 30px;
}
#top-link {
	/*-webkit-transition: width 2s;*/
}

/* DESKTOP VERSION OF OUR .NAV-MAIN */

@media all and (min-width: 480px) {
	
	section {
	margin-bottom: 100px;
	}
	.nav-main {
		display: inline;
		position: relative;
	}
	.nav-main li {
		display: inline;
		margin-left:auto; 
		margin-right:auto;
	}
	.nav-main li a {
		/*padding: 50px;*/
		text-decoration: none;
		color: black;
		font-size: 20px;
		font-family: 'Playfair Display', serif;
		display: inline-block;
		border-bottom-style: none;
	}
	figure {
		width: 33.33%;
	}
	.nav-wrapper {
		text-align: center;
		margin-left: 50px;
	}
	.credits {
		display: block;
		font-family: 'Six Caps', sans-serif;
		opacity: 0.75;
		/*border: 1px solid red;*/
		text-align: center;
		font-size: 60px;
		width: 100%;
		margin: 15% auto auto auto;
	}
	.is-mobile {
		display: none;
	}
	.jfk-list {
		border:;
		width: 50%;
		margin: 40% auto 0 27%;
		font-weight: bold;
		font-family: 'Playfair Display', serif;
		font-size: 150px;
	}
	#social img {
		width:32%;
		/*border: 1px solid red;*/
	}
	#social figure img {
		width: 100%;
	}

	.social-wrapper {
		text-align: center;
		/*text-align: center;
		margin-left:auto;
		margin-right: auto;
		border: 5px solid pink;*/
	}
	#contact img {
		width: 5%;
		height: auto;
	}
	.contact-wrapper {
		text-align: center;
	}

	.top-wrapper {
		/*border: 1px solid red;*/
		text-align: center;
		margin-top: 60px;
}
} 

/*END OF OUR DESKTOP VERSION*/









/* styling bottom link to goes back to head of page*/

/* image display hover captions with links to instagram*/

/*make 15th and jfk slightly closer to nav-main*/








