* {box-sizing: border-box;}

.nav-wrapper {
	/*border-bottom: 1px solid #000;*/
}

.hamburger {

}

.nav-main {
	text-align: center;
	margin-left: 30px;

}

.nav-fif {
	font-size: 29px;
	display: inline;
}

.nav-main li {
	border-bottom: 1px solid #000;
	margin-left: 20px;

}

.nav-main li: last-child {
	font-size: 20px;
}

.nav-main li a {
	display: block;
	padding: 50px;
	padding-left: 0px;
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-family: 'Playfair Display', serif;

}

.nav-main li a.is-current {
	
}

.nav-main a:hover {
	color:#979797;
	text-shadow: 0 0 2px #bababa;
	font-weight: bold;
}

body {
	background-image: url(../images/B-G-lovepark.jpg);
	background-size: 100%;
	/*background-repeat: none;*/
}                     

#top-link {
	border-color: 3px solid red;
	display: inline;
}

#page-jfk  {
	/*border: 4px solid red;*/
	position: relative;
	/*padding: auto;*/
}

.jfk-list {
	border:;
	/*position: absolute;
	margin-left: 900px;
	margin-top: 930px;*/
	width: 50%;
	margin: 40% auto 0 27%;
	font-weight: bold;
	font-family: 'Playfair Display', serif;
	font-size: 150px;
}

.jfk-list h3 {    
	/*border: 1px solid red;*/
	font-size: 10vw;
	text-align: center;
}

.jfk-fif {
	display: inline;
	font-size: 13vw;
	
}

.jfk-list h2 {    
	/*border: 1px solid yellow;*/
	font-size: 15vw;
	text-align: center;
}

.jfk-list h1 {    
	/*border: 1px solid pink;*/
	font-size: 23vw;
	letter-spacing: 0px;
	text-align: center;
}

.credits {
	font-family: 'Six Caps', sans-serif;
	opacity: 0.75;
	/*border: 1px solid red;*/
	text-align: center;
	font-size: 60px;
	width: 100%;
	margin: 15% auto auto auto;

}

#page-social {
	/*border: 4px solid blue;*/
}

/* SOCIAL MEDIA SECTION BACON VID AND IMAGE DISPLAY*/

.bacon-video {
	/*border: 3px solid green;*/
	width: 60%;
	display: inline;
	margin: 0px auto auto 20%;
}

.row-one {
	/*border: 1px solid red;*/
}


.row-one img:first-child {
	/*border: 1px solid red;*/
	width: 25%;
	margin-right: 0px;
	display: inline;
	float: left;
}

.row-one img:nth-child(2) {
	/*border: 1px solid green;*/
	width: 30.2%;
	display: inline;
	position: absolute;
	margin:auto auto auto 10%;
}

.row-one img:nth-child(3) {
	/*border: 1px solid green;*/
	width: 24.9%;
	margin-right: 0px;
	display: inline;
	float: right;	

}

.row-two {
	clear: both;
	/*border: 1px solid red;*/

}


.row-two img:first-child {
	margin-top:80px;
	width: 40%;
}

.row-two img:nth-child(2) {
	width: 45.8%;
	float: right;
	margin-top: 80px;

}

.row-two img:nth-child(3) {

}

.row-two img:nth-child(4) {

}



















#page-donate {
	border: 4px solid green;
	background-color: black;
}

#page-contact {
	border: 4px solid yellow;
	background-color: black
}

section {
	height:2500px;
	
}

/* desktop version of our .nav-main */
@media all and (min-width: 480px) {

	.nav-main {
		display: block;

	}

	.nav-main li {
		display: inline-block;
		border-bottom-style: none;

	}
	.is-mobile {
		display: none;
	}

} 
/*end of desktop version*/



/* styling bottom link to goes back to head of page*/

/*when site goes to mobile and links go down onto black background
 text needs to turn from black to white*/

/* first-child or grabbing certin parts of list for resize in jfk-list*/





