* {box-sizing: border-box;}

.nav-wrapper {
	border-bottom: 1px solid #000;
}

.nav-main {
	/*display: center;*/
	border:;
	text-align: center;

}

.nav-main li {
	border-bottom: 1px solid #000;
	margin-left: 0px;
}

.nav-main li: last-child {
	font-size: 20px;
}

.nav-main li a {
	display: block;
	padding: 50px;
	padding-left: 0px;
}

.nav-main li a.is-current {
	background-color: red;
}

.hamburger {

}

body {
	background-image: url(../images/B-G-lovepark.jpg);
	background-size: 100%;
}                     

#top-link {
	border-color: 3px solid red;
	display: inline;
}


/* desktop version of our .nav-main */
@media all and (min-width: 480px) {

	.nav-main {
		display: block;

	}

	.nav-main li {
		display: inline-block;
		border-bottom-style: none;
	}
	.is-mobile {
		display: none;
	}

} 
/*end of desktop version*/


section {
	height:600px;
	
}


/* styling bottom link to goes back to head of page*/

/* center nav-main links */

/*does adding classes to desktop version interfer with mobile version.
 can i add the same class twice in main.css*/


/* trying to display 4 links in header to be center withought adding space between each link*/


/*working on nav-main class titles with interfering with is-current class. trying to 
have titiles with equal left space just centered. */








